* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
}

body {
  font-family: "Manrope", sans-serif;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2146px;
  z-index: 0;
  opacity: 0.4;
  pointer-events: none;
}
.background::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 449px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #f8cc6d -187.39%, #fff 60.47%), #edecec;
}
.background::after {
  content: "";
  position: absolute;
  top: 956.5px;
  width: 100%;
  height: 1697px;
  background: linear-gradient(180deg, #fff 9.96%, #f8cc6d 52.51%, #fff 84.63%),
    #edecec;
}

.post-background {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 449px;
  flex-shrink: 0;
  opacity: 0.4;
  background: linear-gradient(180deg, #f8cc6d -187.39%, #fff 60.47%), #edecec;
  z-index: 0;
}
.main-content {
  position: relative;
  z-index: 1;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
a {
  text-decoration: none;
}
