.banner img {
  width: 100%;
}

section {
  margin-top: 156px;
}

.tab-section {
  text-align: center;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-subheader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 137px;
}

.section-title {
  color: var(--Gold-main, #b37917);
  text-align: center;
  font-family: Manrope;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 1473px;
  margin-bottom: 30px;
}

.section-desc {
  /* margin-top: 30px; */
  color: var(--Wireframe-60, #697077);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 772px;
  margin-bottom: 70px;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #dfc7a8;
}

.tab-button {
  background: none;
  border: none;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}

.tab-button.active {
  color: var(--Wireframe-90, #21272a);
  border-color: #b37917;
}

.tab-content,
.tab-card-content {
  display: none;
  grid-template-columns: repeat(3, 1fr);
}

.tab-content.active,
.tab-card-content.active {
  display: grid;
}

.tab-card-content {
  margin-top: 58px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 460px));
}

.card {
  display: flex;
  max-width: 460px;
  padding: 40px 41px;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background: var(--Default, #fff);
}

.card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-meta {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #333;
  align-items: center;
  margin-bottom: 10px;
}

.card-meta span {
  position: relative;
  padding: 0 8px;
  color: var(--Wireframe-90, #21272a);
  font-size: 14px;
}
.card-meta span:first-child {
  padding-left: 0;
}
.card-meta span.divider::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 1px;
  background: #21272a;
}

.card-meta span.divider::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 1px;
  background: #21272a;
}

.card-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: start;
}

.tab-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider {
  position: relative;
  overflow: hidden;
  padding: 0 60px;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  will-change: transform;
}

.slider-card.faded {
  opacity: 0.2;
  transition: all 0.5s ease;
}

.slider-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
  transition: opacity 0.3s;
  background-color: transparent;
}
.slider-img {
  height: 100%;
}
.slider-card img {
  width: 100%;
  height: 525px;
  object-fit: cover;
  display: block;
}

.slider-card.fade {
  opacity: 0.2;
}
.slider-info {
  margin-top: 25px;
  color: var(--Wireframe-60, #697077);
  font-size: 14px;
  font-weight: 400;
}
.slider-card-title {
  color: var(--Wireframe-90, #21272a);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-info {
  padding: 12px;
  text-align: center;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 2;
  background: var(--Default, #fff);
  stroke-width: 3px;
  border: none;
  stroke: var(--Gold-main, #b37917);
  width: 76px;
  height: 76px;
  border-radius: 999px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-btn:hover {
  background-color: #fef5dd;
}

/* Dot */
.slider-dots {
  margin-top: 77px;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: var(--Gold-light, #ffeed9);
  transition: background 0.3s;
}

.dot.active {
  background-color: var(--Gold-main, #b37917);
}

.branch-wrapper {
  display: flex;
  max-width: 1669px;
  margin: 0 0 0 auto;
  margin-top: 182px;
  gap: 21px;
  flex-wrap: wrap;
}

.branch-left {
  flex: 1;
}

.search-box {
  display: flex;
  width: 100%;
  padding: 28px 42px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: var(--Wireframe-10, #f2f4f8);
  margin-bottom: 32px;
}

.search-box input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
  outline: none;
}

.search-box button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.branch-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* 2 cột, co giãn */
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  max-height: 705px;
  overflow: auto;
}

.branch-card {
  border-radius: 10px;
  background: var(--Gold-light-yellow, #fff7e2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.branch-card img {
  width: 100%;
  height: 175px;
  align-self: stretch;
  object-fit: cover;
}

.branch-info {
  padding: 6px 20px;
}

.branch-info h4 {
  color: var(--Gold-main, #b37917);

  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.branch-info p {
  color: var(--Wireframe-90, #21272a);

  /* Subtitle/S */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 12px 0;
  display: flex;
  gap: 38px;
}

.branch-info span {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 7px;
  color: var(--Wireframe-90, #21272a);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.branch-info img {
  width: 14px;
  height: 14px;
}

.branch-map {
  flex: 1;
  min-height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.branch-map iframe {
  width: 100%;
  height: 100%;
  min-height: 600px;
  border: none;
}

.tab-card-content > .readmore-container {
  grid-column: 1 / -1;
  justify-self: center;
}

.readmore-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.readmore-btn {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(
    --Gold-gradient,
    linear-gradient(90deg, #cb9849 0%, #9e6e00 100%)
  );
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.readmore-btn:hover {
  opacity: 0.8;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto 64px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-submit {
  text-align: center;
}

.form-submit button {
  background: #b37917;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.highlight-box {
  background: linear-gradient(to right, #fdf3e7, #fff4d6);
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 48px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.highlight-box img {
  width: 300px;
  border-radius: 12px;
}

.highlight-box ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 14px;
  color: #333;
}

.branch-search {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.branch-search .search-box {
  max-width: 702px;
}

.branch-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.branch-card {
  background: #fffaf0;
  border: 1px solid #f1e3d0;
  border-radius: 10px;
  padding: 24px;
}

.branch-card h4 {
  margin: 0 0 12px;
  color: #b37917;
  font-size: 16px;
}

.branch-card ul {
  list-style: none;
  padding-left: 10px;
  position: relative;
}

.branch-card li {
  font-size: 14px;
  color: #444;
  margin-bottom: 8px;
  position: relative;
  padding-left: 15px;
}

.branch-card ul li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #b37917;
  border-radius: 50%;
}

.branch-card p {
  font-size: 14px;
  color: #444;
  margin: 4px 0;
}

.post-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container {
  max-width: 839px;
  margin: 0 auto;
  padding: 40px 0;
}

.post-breadcrumbs {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.post-title {
  color: #b37917;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  margin: 32px 0;
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #697077;
  font-size: 14px;
  margin-bottom: 17px;
}

.post-meta img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.post-summary {
  color: #343a3f;
  font-size: 16px;
  font-weight: 800;
  line-height: 160%;
  margin-top: 41px;
  margin-bottom: 46px;
}

.makeup-summary-box {
  border-radius: 10px;
  border: 1px dashed #b37917;
  background: #fffbf7;
  padding: 44px;
}

.makeup-summary-box ul {
  padding-left: 20px;
}

.makeup-summary-box li,
.makeup-summary-box strong {
  color: #343a3f;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.28px;
}

.makeup-summary-box li {
  font-weight: 500;
}

.makeup-summary-box strong {
  font-weight: 700;
}

.post-body h2 {
  color: var(--Gold-main, #b37917);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.42px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.post-body h3 {
  color: var(--Gold-main, #b37917);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
  margin: 10px 0;
}

.post-body p {
  color: var(--Wireframe-80, #343a3f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.28px;
}

.image-section {
  margin: 16px 0;
  text-align: center;
}

.image-section img {
  max-width: 100%;
}

.image-caption {
  background-color: var(--Gold-light, #ffeed9);
  color: var(--Gold-dark, #9e6e00);
  position: relative;
  top: -10px;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  font-size: 14px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  flex-wrap: wrap;
  gap: 10px;
}

.post-rating {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.stars {
  color: #ff9900;
  font-size: 25px;
}

.rating-value {
  color: var(--Wireframe-80, #343a3f);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.28px;
}

.post-social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc6b5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon:hover {
  opacity: 0.8;
}
.social-icon img {
  width: 16px;
  height: 16px;
}

.post-author {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  padding: 16px;
  border-radius: 10px;
  border: 1px dashed #b37917;
  background: #fffbf7;
  align-items: flex-start;
}

.author-avatar img {
  width: 125px;
  height: 125px;
  object-fit: fill;
}

.author-name {
  color: var(--Gold-main, #b37917);
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0;
}

.author-role {
  color: var(--Wireframe-60, #697077);
  font-size: 13px;
  font-weight: 700;
  margin-top: 0 !important;
}

.author-info p {
  color: var(--Wireframe-60, #697077);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 18px;
}

.author-modified {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #009f57 !important;
  margin-top: 0;
  font-size: 12px;
  line-height: 120%;
}
/* QA form */
.qa-form {
  padding: 30px 34px;
  border-radius: 10px;
  border: 1px solid var(--Gold-middle, #f1d1a9);
  margin: 40px 0;
}

.qa-form label {
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 33.6px */
  letter-spacing: 0.42px;
  gap: 10px;
}

.qa-form textarea {
  width: 100%;
  height: 80px;
  border: none;
  font-size: 14px;
  padding: 18px 28px;
  border-radius: 10px;
  background: var(--Gold-light, #ffeed9);
  margin: 20px 0;
  outline: none;
}
.qa-form button {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(
    --Gold-gradient,
    linear-gradient(90deg, #cb9849 0%, #9e6e00 100%)
  );
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.qa-form button:hover {
  background: #8f5800;
  cursor: pointer;
}

#post-section {
  margin-top: 86px;
  max-width: 1488px;
}

/* Related posts */
#post-section .section-title {
  font-size: 64px;
  margin-bottom: 20px;
}

.related-posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.related-post-card img {
  width: 100%;
  border-radius: 4px;
}

.article-meta {
  font-size: 12px;
  color: #999;
  margin: 6px 0;
}

.article-title {
  font-weight: bold;
  font-size: 15px;
  color: #222;
}

/* Consultation form */
.consultation-form {
  text-align: center;
  padding: 0 200px;
  padding-top: 64px;
  border-top: 1px solid #dfc7a8;
}

form {
  margin-top: 40px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-row:last-child {
  margin-bottom: 0;
}
.input-data {
  position: relative;
  width: 100%;
}

.input-data input {
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #c1c7cd;
  background-color: transparent;
  outline: none;
  text-align: center;
}

/* .input-data label {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
} */

.input-data input::placeholder {
  color: var(--Wireframe-80, #343a3f);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.input-data input:focus::placeholder {
  color: transparent;
}

/* .input-data input:valid ~ label {
  opacity: 1;
  top: 0;
  font-size: 14px;
  color: #b67d17;
  background: #fff;
  padding: 0 4px;
  transform: translateY(-50%) translateY(0);
} */

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: #b67d17;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline,
.input-data input:valid ~ .underline {
  transform: scaleX(1);
}

.submit-btn {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(
    --Gold-gradient,
    linear-gradient(90deg, #cb9849 0%, #9e6e00 100%)
  );
  font-size: 16px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.submit-btn:hover {
  background: #8f5800;
  cursor: pointer;
}

.contact-container {
  padding: 0 250px;
}

.diva-info-section {
  margin-top: 197px;
  position: relative;
}
.diva-info-background {
  position: relative;
}
.diva-info-background img {
  width: 100%;
  height: 469px;
}
.sub-background {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.sub-background img {
  height: 120%;
  position: relative;
  transform: translateY(-17.5%);
}
.diva-info {
  position: absolute;
  top: 0;
}
.diva-info .content {
  padding: 60px 120px;
}
.contact-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diva-info .title {
  color: var(--Gold-main, #b37917);
  font-size: 54px;
  font-weight: 400;
}

.diva-info .contact-list {
  color: var(--Wireframe-80, #343a3f);
  font-size: 16px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 10px;
}

.diva-info .contact-list li {
  margin-bottom: 5px;
}

.diva-info .contact-list strong {
  font-weight: 700;
}
.contact-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.contact-container .form-label {
  color: var(--Wireframe-80, #343a3f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
}

.contact-container textarea {
  width: 100%;
  padding-bottom: 20px;
  font-size: 16px;

  outline: none;
  text-align: center;
}

.contact-container textarea::placeholder {
  color: var(--Wireframe-80, #343a3f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.social-icons a:hover {
  opacity: 0.8;
}

.slider-window {
  position: relative;
}

#background-mobile,
#banner-mobile {
  display: none;
}
.contact-form-container form {
  margin-top: 0;
}

.expert-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 250px;
}
.expert-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}
.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.intro-section .container {
  max-width: 1473px;
  padding: 0 16px;
}
.intro-section .sub-header {
  margin-bottom: 13px;
}
.intro-section .container-header {
  margin-bottom: 74px;
}
.intro-content {
  display: flex;
  justify-content: center;
  gap: 103px;
  flex-wrap: wrap;
  margin-bottom: 77.5px;
}

.intro-block {
  flex: 1;
  text-align: center;
}

.intro-block h3 {
  color: var(--Wireframe-80, #343a3f);
  margin-bottom: 12.5px;
  font-size: 20px;
  font-weight: 700;
}

.intro-block p {
  color: var(--Wireframe-70, #4d5358);
  font-size: 14px;
  font-weight: 500;
}

.intro-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 103px;
}

.stat-item {
  text-align: center;
}

.stat-number {
  color: var(--Gold-main, #b37917);
  font-size: 64px;
  font-weight: 400;
  white-space: nowrap;
}

.stat-label {
  color: var(--Wireframe-80, #343a3f);
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}
.timeline-section .container,
.doctor-section .container,
.news-section .container {
  max-width: 1670px;
  margin: 0 0 0 auto;
}

.timeline-section {
  padding-top: 55px;
  padding-bottom: 64px;
}

.header-subheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 257px;
  margin-bottom: 17px;
}
.sub-header {
  color: var(--Gold-main, #b37917);
  font-size: 16px;
  font-weight: 400;
}
.timeline-content {
  margin: auto;
  margin-top: 30px;
  display: flex;
  gap: 150px;
}

.timeline-description {
  flex: 1;
  max-width: 500px;
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.timeline {
  flex: 1;
  position: relative;
  display: flex;
  gap: 145px;
  height: 60px;
  border-top: 1px solid #ccc;
}

.timeline-item {
  position: relative;
}

.timeline-item .dot {
  width: 8px;
  height: 8px;
  background-color: #a86f00;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  transform: translateX(-100%);
}

.timeline-item .year {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.timeline-item .popup {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 14px;
  z-index: 10;
}

.timeline-item:hover .popup {
  opacity: 1;
  pointer-events: auto;
}
.license-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.license-item img {
  width: 100%;
  height: 100%;
  max-height: 509px;
  aspect-ratio: 702/509;
}

.caption {
  color: var(--Wireframe-60, #697077);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.heading-desc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 235px;
  margin-bottom: 49px;
}
.heading-desc p {
  max-width: 772px;
}
.news-section .slider-card img {
  height: unset;
}
.news-section .slider-dots {
  text-align: left;
}
.news-section .slider-card.faded {
  opacity: 1 !important;
}

#doctor-section .dot {
  background-color: var(--Default, #fff);
}
#doctor-section .dot.active {
  background-color: var(--Gold-main, #b37917);
}

.main-swiper img {
  width: 100%;
  height: 333px;
}
.slide-show {
  position: relative;
  max-width: 700px;
}
.main-swiper {
  --swiper-navigation-color: #b37917;
}

.thumb-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.thumb-swiper {
  flex: 1;
  padding: 10px 0;
}

.thumb-swiper .swiper-slide {
  width: 100px;
  height: 115px;
  cursor: pointer;
}

.thumb-swiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #b37917;
}

.thumb-swiper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.thumb-nav-btn {
  background: #b37917;
  color: white;
  padding: 8px 12px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: none;
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.slide-show .slider-btn {
  top: 93%;
  width: 38px;
  height: 38px;
}
.slide-show .slider-btn img {
  width: 50%;
}

.equipment-section .heading-desc {
  justify-content: flex-start;
}
.intro-branch-wrapper {
  display: flex;
  max-width: 1670px;
  margin: 0 0 0 auto;
  gap: 21px;
  flex-wrap: wrap;
  position: relative;
  top: -100px;
  z-index: 1;
}
.news-section .slider {
  padding: 0;
}
.intro-section .sub-header {
  text-align: center;
}
.doctor-section .slider {
  margin-top: 84px;
}
.equipment-section {
  aspect-ratio: 1879 / 1174; /* Tỷ lệ của ảnh nền */
  position: relative;
}

.equipment-section > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.equipment-section .container {
  position: relative;
  min-height: 1000px;
  margin: 0 0 0 auto;
  max-width: 1670px;
  z-index: 1;
  height: 100%;
}
.equipment-section .container > img {
  display: none;
  width: 100%;
}
