@media (max-width: 1920px) {
  #introduce,
  #homepage {
    max-width: 1670px;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 1;
  }
  #introduce .banner,
  #homepage .banner {
    position: relative;
    width: 100vw;
    left: 0;
    transform: translateX(0);
    margin-left: calc(-1 * (100vw - var(--content-width, 1670px)));
    z-index: 0;
  }
  .form-box {
    right: 100px;
  }
}
@media (max-width: 1670px) {
  #introduce .banner,
  #homepage .banner {
    position: relative;
    width: 100vw;
    margin-left: 0;
    z-index: 0;
  }
}
@media (max-width: 1550px) {
  .contact-form-container {
    padding: 0 50px;
  }
  .contact-container {
    padding: 0 100px;
  }

  .doctor-section .container,
  .equipment-section .container {
    /* margin-left: 36px; */
    padding: 0 16px;
  }
}
@media (max-width: 1366px) {
  .contact-container {
    padding: 0 50px;
  }
  .diva-info .content {
    padding: 60px;
  }
  .slide-show {
    max-width: 600px;
  }
  .form-box {
    right: 75px;
    height: unset;
    width: unset;
  }
  .form-box h2 {
    font-size: 24px;
  }
  .form-box p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .form-box form {
    margin-top: 20px;
  }
  .form-section {
    overflow: hidden;
  }
  .form-section img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width: unset;
  }
}
@media (max-width: 1200px) {
  .feedback-quote {
    left: unset;
  }
  .equipment-section .section-title {
    margin-bottom: 0;
  }
  .timeline-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .timeline-desktop {
    display: none;
  }
  .timeline-section .section-title {
    margin-bottom: 0;
  }
  .timeline-mobile {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    position: relative;
    padding: 0 16px;
  }

  .year-label {
    color: var(--Wireframe-80, #343a3f);
    font-size: 14px;
    font-weight: 700;
  }

  .year-list-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    margin-bottom: 20px;
  }

  .year-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 4px;
  }

  .year-btn {
    background: none;
    border: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    padding-left: 18px;
    position: relative;
    color: #555;
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .year-btn.visible {
    display: block;
    color: var(--Wireframe-80, #343a3f);
    font-size: 14px;
    font-weight: 400;
  }

  .year-btn.faded {
    color: var(--Wireframe-40, #a2a9b0);
    font-size: 14px;
    font-weight: 400;
  }

  .year-btn.selected {
    color: var(--Wireframe-80, #343a3f);
    font-size: 14px;
    font-weight: 700;
  }

  .year-btn.selected::before {
    content: "•";
    color: var(--Gold-main, #b37917);
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 20px;
  }

  .year-details {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 120px;
  }

  .year-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    color: var(--Wireframe-80, #343a3f);

    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
  }

  .year-content.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 1;
  }
  .form-box {
    right: 50px;
  }
  .intro-content {
    gap: 60px;
  }
  .intro-branch-wrapper {
    flex-direction: column;
  }
  .consultation-form {
    padding: 0 100px;
  }
  .related-posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mobile-container {
    padding: 0 16px;
  }
  section {
    margin-top: 43px;
  }
  .section-title {
    font-size: 64px;
    margin-bottom: 32px;
  }
  .card {
    padding: 18px 12px;
    max-width: none;
  }
  .card-meta span {
    font-size: 10.701px;
    font-weight: 500;
  }
  .card-title {
    font-size: 14px;
    font-weight: 700;
  }
  .section-desc {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 32px;
  }
  .tab-button {
    font-size: 16px;
    font-weight: 400;
    padding: 14px 0;
  }
  .tab-button.active {
    font-weight: 600;
  }
  .slider-btn {
    width: 64px;
    height: 64px;
  }
  .slider-btn img {
    width: 24px;
    height: 24px;
  }
  .branch-wrapper {
    margin-top: 77px;
    flex-direction: column;
    gap: 40px;
  }
  .branch-left,
  .branch-map iframe,
  .branch-map {
    width: 100%;
    height: 100%;
  }
  .search-box {
    width: 100%;
    padding: 20px;
  }
  .search-box img {
    width: 18px;
    height: 18px;
  }
  .search-box input {
    font-size: 12px;
    font-weight: 400;
  }
  .post-container {
    padding-bottom: 0;
  }
  .post-title {
    font-size: 48px;
  }
  .branch-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .contact-form-container,
  .consultation-form,
  .contact-container {
    padding: 0 40px;
  }
  .section-title {
    font-size: 48px;
  }
  .expert-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .expert-section {
    padding: 0 100px !important;
  }

  .header-subheader {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .heading-desc {
    justify-content: center;
    padding-right: 0px;
  }
  .heading-desc p {
    text-align: center;
  }
  .highlight-section {
    margin-top: 54px;
  }
  .feedback-info .content {
    padding: 40px;
  }
  .feedback-background .sub-background {
    right: 55px;
  }
  .media-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media-container .media-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .media-logos {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .form-section .banner {
    display: none;
  }
  .form-section {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .form-section img {
    height: unset;
    width: 100%;
  }
  .form-section .form-box {
    position: relative;
    max-width: unset;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform: translateY(0%);
    width: 100%;
    border-radius: 0;
  }
  .feedback-content {
    max-width: unset;
  }
  .form-box {
    right: 25px;
  }
  .media-title {
    font-size: 64px;
  }
  .feedback-section {
    margin-top: 80px;
  }
  .feedback-heading {
    font-size: 64px;
  }
  .feedback-info .content {
    padding: 93px 16px;
    width: 100%;
  }
  .feedback-quote {
    left: 16px;
    width: 48px;
  }
  .feedback-section .feedback-background,
  .feedback-section .feedback-background > img {
    height: 1183px;
  }
  .feedback-background .sub-background {
    bottom: 0;
    right: unset;
    top: unset;
    height: unset;
  }
  .feedback-background .sub-background img {
    position: relative;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 5px);
    height: unset;
  }
  .mobile-image {
    display: block;
    width: 90%;
  }
  .highlight-content {
    padding: 0 16px;
  }
  .column.center {
    display: none;
  }
  .doctor-section .slider {
    margin-top: 38px;
  }
  .hero-title {
    display: none;
  }
  .hero-top {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    position: relative;
    left: -20%;
  }
  .form-section .form-box {
    text-align: center;
  }
  .swiper-controller {
    right: unset;
    left: 0;
    top: -45px;
    width: 100%;
  }
  .service-item {
    height: 327px;
  }
  .service-section .service-header {
    padding: 0 16px;
  }
  .service-header .sub-header {
    margin-bottom: 30px;
  }
  .service-header .section-title {
    margin-bottom: 42px;
  }

  .service-header .heading-desc {
    margin-bottom: 24px;
  }
  .equipment-section .header-subheader {
    position: absolute;
  }
  .equipment-section .container {
    position: relative;
    margin: 0;
  }
  .equipment-section .heading-desc {
    display: none;
  }
  .equipment-section > .banner img {
    display: none;
  }
  .slide-show {
    max-width: unset;
  }
  .equipment-section .container > img {
    display: block;
    inset: 0;
  }
  .equipment-section .slide-show {
    margin-top: 134px;
    margin: 0;
  }
  .equipment-section .container {
    min-height: 830px;
  }
  .tabs {
    justify-content: flex-start;
  }
  .diva-info-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
  }

  #background-mobile {
    display: block;
  }
  #background-desktop {
    display: none;
  }
  .diva-info-background img {
    width: calc(100%);
    height: 876px;
    position: relative;
    border-radius: 80px;
  }
  .sub-background {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .sub-background img {
    width: 100%;
    height: 100%;
    transform: translateY(-0.5%);
  }
  .diva-info .title {
    font-size: 20px;
  }
  .diva-info .contact-list {
    font-size: 14px;
  }
  .diva-info-section {
    margin-top: 43px;
  }
  .branch-card li {
    font-size: 12px;
  }
  .branch-card h4 {
    margin: 0;
    font-size: 14px;
  }
  #post-section .section-title {
    font-size: 32px;
  }
  .branch-search {
    margin: 0;
  }
  .branch-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .section-title {
    font-size: 42px;
  }
  .section-title {
    font-size: 50px;
  }
  .makeup-summary-box {
    padding: 24px;
  }
  .slider {
    padding: 0 20px;
  }
  .slider-btn {
    width: 50px;
    height: 50px;
  }
  .tab-card-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-title {
    font-size: 36px;
  }
  .contact-form {
    padding: 0 20px;
  }
  .consultation-form {
    padding: 0 20px;
    padding-top: 40px;
  }
  .post-content {
    padding: 0 20px;
  }
  .diva-info .content {
    padding: 80px 30px;
    width: 100%;
  }
  .contact-container {
    padding: 0 20px;
  }
  .search-box {
    width: 100%;
    padding: 11px 20px;
  }
  .tab-content,
  .tab-card-content {
    display: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 876px) {
  .feedback-background .sub-background img {
    width: 50%;
  }
  .sub-background img {
    width: 100%;
    height: 90%;
    transform: translateY(11%);
  }
}

@media (max-width: 768px) {
  .feedback-background .sub-background img {
    width: 60%;
  }
  .equipment-section .container {
    min-height: 630px;
  }
  .timeline-section .container {
    align-items: flex-start;
  }
  .branch-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .timeline-section .header-subheader {
    align-items: flex-start;
    width: 100%;
    padding: 0 16px;
    text-align: left;
  }
  .year-list-wrapper {
    justify-content: flex-start;
  }
  .branch-wrapper {
    margin-top: 40px;
  }
  .tab-content.active,
  .tab-card-content.active {
    display: flex !important;
    width: 100%;
    overflow: auto;
    justify-content: flex-start;
  }
  .card {
    min-width: 275px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .tab-content,
  .tab-card-content {
    display: none;
    margin-top: 20px;
  }
  .tab-content img,
  .tab-card-content img {
    width: 100%;
    height: auto;
  }
  .sub-background img {
    width: 100%;
    height: 80%;
    transform: translateY(25%);
  }
  .branch-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-title {
    font-size: 36px;
  }

  .contact-container {
    padding: 0 16px;
  }
  .contact-form-container {
    padding: 0;
  }
  .consultation-form {
    padding: 40px 0px;
  }
  .consultation-form form {
    margin-top: 20px;
  }
  .qa-form {
    padding: 16px;
    margin-bottom: 0;
  }
  .related-posts {
    margin: 20px 0;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #banner-mobile {
    display: block;
  }

  #banner-desktop {
    display: none;
  }
  .intro-title {
    font-size: 32px;
  }
  .intro-section {
    margin-top: 59px;
  }
  .intro-content {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 57px;
  }
  .intro-section .container-header {
    margin-bottom: 0;
  }
  .intro-block p {
    max-width: 500px;
  }
  .intro-stats {
    gap: 24px;
    justify-content: center;
    margin-bottom: 130px;
  }
  #special-item {
    position: relative;
    top: 100px;
  }
  .stat-number {
    font-size: 56px;
  }

  .stat-label {
    font-size: 16px;
  }
  .expert-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .expert-section {
    padding: 0 20px !important;
  }

  .license-section .section-desc {
    margin: 0 16px;
  }
  .caption {
    margin-top: 10px;
    font-size: 13px;
  }
  .license-item {
    width: 100%;
  }
  .news-section .slider-dots {
    text-align: center;
    margin-top: 45px;
  }

  .equipment-section .prev {
    left: 19px !important;
  }
  .equipment-section .next {
    right: 19px !important;
  }
  .equipment-section .container {
    margin: 0;
    padding: 0;
  }
  .equipment-section .header-subheader {
    align-items: flex-start;
    text-align: left;
    gap: 15px;
    margin-left: 16px;
  }
  .equipment-section .section-title {
    margin: 0;
  }
  .branch-near-section .branch-card {
    padding: 12px;
  }
  .media-logos img {
    max-height: 82px;
    max-width: 157px;
  }
}

@media (max-width: 576px) {
  .hero-top {
    font-size: 13px;
  }
  .feedback-background .sub-background img {
    width: 80%;
  }
  .service-item {
    height: 272px;
  }
  .feedback-heading {
    font-size: 48px;
  }
  .feedback-subheading,
  .feedback-content {
    font-size: 14px;
  }
  .feedback-content {
    margin-left: 93px;
  }
  .feedback-card {
    margin-left: 0;
  }
  .service-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-list .service-item p {
    font-size: 16px;
  }
  .highlight-item p {
    font-size: 14px;
    max-width: 283px;
    text-align: center;
  }
  .highlight-content {
    flex-direction: column;
  }
  .slider-window {
    left: 100px !important;
  }
  .expert-container {
    grid-template-columns: 1fr;
  }
  .slider-dots,
  .prev {
    display: none;
  }

  .section-title {
    font-size: 30px;
  }
  .submit-btn,
  .qa-form button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .stat-number {
    font-size: 48px;
  }

  .stat-label {
    font-size: 12px;
  }

  .sub-header {
    font-size: 14px;
  }
  .media-subtitle,
  .media-desc,
  .heading-desc p {
    text-align: center;
    font-size: 14px;
  }
  .branch-card p,
  .branch-info span {
    font-size: 10px;
  }
  .branch-info img {
    width: 8px;
    height: 8px;
  }
  .branch-card h4 {
    font-size: 13px;
  }
  .branch-info {
    padding: 0 10px;
  }
  .thumb-swiper .swiper-slide {
    height: 59px;
  }
  .slide-show .slider-btn {
    width: 21px;
    height: 21px;
  }
}

@media (max-width: 375px) {
  .feedback-heading,
  .media-title {
    font-size: 32px;
  }
  .form-section {
    margin-top: 60px;
  }
  .feedback-section .feedback-background,
  .feedback-section .feedback-background > img {
    height: 925px;
  }
  .post-content {
    padding: 0 10px;
  }
  .section-title {
    font-size: 26px;
  }
}
